@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

$landing-accent-color: #247BA0;
$landing-saffron-color: #ffde2c;
$landing-gradient: linear-gradient(228deg, rgba(127, 244, 222, 0.95), rgba(56, 199, 225, 1));
$landing-gradient-hover: linear-gradient(228deg, darken(rgba(127, 244, 222, 0.95), 5%), darken(rgba(56, 199, 225, 1), 5%));

.landing {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #ffffff;
  position: absolute;
  z-index: 0;
  overflow-x: hidden;

  .container {
    transition: 0.3s;
  }

  @media (min-width: 576px) {

    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {

    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {

    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {

    .container {
      max-width: 1140px;
    }
  }
}

.landing__btn {
  background-color: #ffffff;
  box-shadow: 0 20px 30px 0 rgba(89, 181, 210, 0.31);
  color: $landing-accent-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  border-radius: 23px;
  height: 46px;
  padding: 10px 30px;
  transition: 0.3s;
  white-space: nowrap;
  border: none;

  &:hover {
    color: $landing-accent-color;
    background: darken(#ffffff, 5%);
    box-shadow: 0 5px 15px 0 rgba(89, 181, 210, 0.5);
  }

  &.landing__btn--header {
    display: inline-block;
    margin: 0 15px 20px;
    align-items: center;
    width: auto;
    padding: 16px 30px;
    font-family: 'Poppins', sans-serif;
  }
}

.landing__btn--gradient {
  background: $landing-gradient;
  color: #ffffff;

  &:hover {
    background: $landing-gradient-hover;
    color: #ffffff;
  }
}

//Menu

.landing__menu {
  position: absolute;
  width: 100%;
}
.landing__nav_item {
  position: absolute;
  right: 0px;
  list-style: none;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.landing__menu__listing {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 101;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.05);
  background: #FFF;
}

.landing__menu-wrap {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.landing__menu-logo {
  margin-top: -6px;
  height: 42px;
  padding-top: 8px;
}

.landing__menu-nav {
  margin-left: auto;

  button {
    position: relative;
    background: transparent;
    border: none;
    color: $landing-accent-color;
    padding: 0;
    margin-right: 60px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    display: none;
    font-family: 'Poppins', sans-serif;

    &:hover {
      color: darken($landing-accent-color, 15%);
    }

    @media screen and (min-width: 992px) {
      display: inline-block;
    }
  }
}

.landing__menu-nav-new {
  position: absolute;
  background: #f06a8e;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  right: -6px;
  display: block;
  top: -3px;
}

.landing__navbar-item {
  margin: 0px 10px;
  list-style: none;
  margin-top: -12px;
}

.login_register {
    margin-top: 17px;
}
//Header

.landing__intro {
  padding-top: 120px;
}

.landing__header {
  padding-top: 140px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.landing .landing__header-title {
  max-width: 680px;
  line-height: normal;
  margin: auto;
  color: $landing-accent-color;
  margin-bottom: 18px;
  @media screen and (min-width: 250px) {
    font-size: 16px;
  }
  @media screen and (min-width: 300px) {
    font-size: 18px;
  }
  @media screen and (min-width: 350px) {
    font-size: 20px;
  }
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 576px) {
    font-size: 25px;
  }

  @media screen and (min-width: 768px) {
    font-size: 21px;
  }

  @media screen and (min-width: 992px) {
    font-size: 30px;
  }
}

.landing .landing__header-title {
  max-width: 680px;
  line-height: normal;
  margin: auto;
  color: $landing-accent-color;
  margin-bottom: 18px;
  @media screen and (min-width: 250px) {
    font-size: 16px;
  }
  @media screen and (min-width: 300px) {
    font-size: 18px;
  }
  @media screen and (min-width: 350px) {
    font-size: 20px;
  }
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 576px) {
    font-size: 25px;
  }

  @media screen and (min-width: 768px) {
    font-size: 21px;
  }

  @media screen and (min-width: 992px) {
    font-size: 30px;
  }
}

.logo {
  width: 100%;
  height: 30px;
}
.landing__header-dot {
  height: 8px;
  width: 8px;
  background-color: #ff4861;;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  @media screen and (min-width: 250px) {
    height: 4px;
    width: 4px;
  }
  @media screen and (min-width: 300px) {
    height: 4px;
    width: 4px;
  }
  @media screen and (min-width: 350px) {
    height: 4px;
    width: 4px;
  }
  @media screen and (min-width: 480px) {
    height: 4px;
    width: 4px;
  }
  @media screen and (min-width: 576px) {
    height: 5px;
    width: 5px;
  }

  @media screen and (min-width: 768px) {
    height: 6px;
    width: 6px;
  }

  @media screen and (min-width: 992px) {
    height: 8px;
    width: 8px;
  }
}

.landing__header-img {
  margin: 15px 0px 50px 0px;
  max-width: 951px;
}

.landing .landing__header-subhead {
  color: $landing-accent-color;
  font-size: 16px;
  line-height: 1.8;
  max-width: 500px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.landing__header-subhead-update {
  text-decoration: underline;
  font-weight: 700;
  color: $landing-accent-color;

  &:hover {
    color: $landing-accent-color;
  }
}

.city_highlight {
  border-bottom: 2px solid #ff4861;;
  padding-bottom: 9px;
}
//Section

.landing__section {
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;
}

.landing__section-background {
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: -1;
  width: 95%;
  height: 1830px;
  transition: height 0.3s;

  @media screen and (min-width: 576px) {
    width: 85%;
  }

  @media screen and (min-width: 768px) {
    width: 75%;
    height: 1200px;
    bottom: -400px;
  }

  @media screen and (min-width: 992px) {
    width: 65%;
    bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 55%;
  }

  &.landing__section-background--technologies {
    transform: scale(-1, 1);
    left: 0;
    right: auto;
    height: 950px;
    top: 1850px;
    bottom: auto;
    width: 95%;

    @media screen and (min-width: 480px) {
      width: 85%;
    }

    @media screen and (min-width: 768px) {
      width: 75%;
      top: 850px;
    }

    @media screen and (min-width: 992px) {
      width: 60%;
    }

    @media screen and (min-width: 1200px) {
      width: 45%;
    }
  }
}

.landing .landing__section-title {
  max-width: 680px;
  text-align: center;
  color: $landing-accent-color;
  margin: 30px auto 50px;
  line-height: 40px;
  position: relative;
  font-weight: 500;
}

.landing .landing__additional-title {
  max-width: 680px;
  text-align: center;
  color: $landing-accent-color;
  margin: 70px auto 50px auto;
}

.landing__section-title-img {
  position: absolute;
  height: 7px;
  width: 85px;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;

  @media screen and (min-width: 425px) {
    left: auto;
    top: auto;
    transform: none;
  }
}

//New feature

.landing__new-feature {
  padding-bottom: 50px;
  margin-top: 105px;
  margin-bottom: -105px;
  text-align: center;
}

.landing__new-feature-title {
  margin-bottom: 16px;
  font-weight: 700;

  & + p {
    color: #999999;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 16px;
  }
}

.search-wrapper {
  text-align: left;
  width: 100%;
}

.landing__new-feature-img {
  margin-top: 50px;

  img {
    border-radius: 10px;
    box-shadow: 0 18px 30px 0 rgba(28, 50, 61, 0.14);
  }
}


//Feature Request

.landing .landing__request {
  color: #2c86a2;
  font-size: 24px;
  width: 100%;
  max-width: 750px;
  text-align: center;
  margin: 0 auto 60px auto;
  line-height: normal;
  opacity: 0.9;
}

//Feature

.landing__features-wrap {
  margin: 0 auto -50px auto;
  display: flex;
  max-width: 670px;
  width: 100%;
  flex-wrap: wrap;

  &.landing__features-wrap--more {
    max-width: 900px;
    justify-content: space-between;
    margin-bottom: -25px;

    .landing__feature-more {
      color:  #6a8287;
      font-size: 16px;
    }
  }
}

.landing__feature-more {
  max-width: 230px;
  width: 100%;
  margin: 0 0 25px;

  svg {
    width: 16px;
    height: 16px;
    fill: $color-accent;
    margin-right: 20px;
  }
}

.landing__feature {
  width: 50%;
  padding-left: 75px;
  padding-right: 16px;
  position: relative;
  margin-bottom: 50px;

  .landing__feature-title {
    color: $landing-accent-color;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
    font-weight: 500;
    margin-top: 0;
  }

  .landing__feature-caption {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    margin: 0;
  }
}

@media screen and (max-width: 576px) {

  .landing__features-wrap {
    max-width: 400px;
  }

  .landing__feature {
    width: 100%;
    padding-right: 0;

    &:nth-child(odd) {
      order: 0;
    }

    &:nth-child(even) {
      order: 1;
    }
  }
}

@media screen and (max-width: 520px) {

  .landing__features-wrap.landing__features-wrap--more {
    max-width: 230px;

    .landing__feature-more {
      margin-bottom: 25px;
    }
  }
}

.landing__feature-img-wrap {
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fafafa;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 24px;
    width: auto;
  }
}

.landing__center-btn {
  text-align: center;
  margin-top: -20px;
  height: 40px;
}

//Footer

.landing__footer {
  text-align: center;
  position: relative;

  a {
    color: $landing-accent-color;
    transition: 0.3s;

    &:hover {
      color: darken($landing-accent-color, 10%);
    }
  }

  .landing__footer-text {
    color: #a0a0a0;
    opacity: 0.9;
    font-size: 14px;
    line-height: normal;
    padding: 15px 0;
  }
}

.landing__footer-background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 95%;
  height: 2030px;
  transition: 0.3s;

  @media screen and (min-width: 480px) {
    width: 85%;
  }

  @media screen and (min-width: 576px) {
    width: 85%;
    height: 1630px;
  }

  @media screen and (min-width: 768px) {
    width: 75%;
    height: 1230px;
  }

  @media screen and (min-width: 992px) {
    width: 60%;
  }

  @media screen and (min-width: 1200px) {
    width: 45%;
  }
}

// Testimonials

.landing__testimonials {
  margin-bottom: -30px;
}

.landing__testimonial {
  padding-top: 25px;
  box-shadow: 0 15px 20px 0 rgba(57, 99, 112, 0.06);
  background-color: white !important;
}

.landing .landing__testimonial-name {
  color: $landing-accent-color;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.landing__testimonial-stars {
  margin-bottom: 18px;

  svg {
    fill: $color-yellow;
    height: 16px;
    width: 16px;
    margin-right: 5px;
  }
}

.landing .landing__testimonial-review {
  color: #94acb4;
  font-size: 13px;
  line-height: 1.54;
  margin: 0;
}

.hamburger__menu {
  float: right;
  margin-top: 16px;
  left: 0px;
  height: 53px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
  padding: -5px;
  border-radius: 12px solid #dedede;
  width: 100%;
}
.mdi-icon__close, .mdi-icon__open {
  right: 10px;
  float: right;
  margin-right: 16px;
  margin-top: -25px;
  color: #646777;
  cursor: pointer;
}

.slider-wrapper {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #646777;
  font-size: 24px;
  margin-top: -27px;

  @media screen and (min-width: 250px) {
    font-size: 14px;
    padding: 30px;
  }
  @media screen and (min-width: 300px) {
    font-size: 14px;
    padding: 30px;
  }
  @media screen and (min-width: 350px) {
    font-size: 14px;
    padding: 30px;
  }
  @media screen and (min-width: 480px) {
    font-size: 15px;
    padding: 30px;
  }
  @media screen and (min-width: 576px) {
    font-size: 18px;
    padding: 30px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding: 30px;
  }

  @media screen and (min-width: 992px) {
    font-size: 24px;
    padding: 30px;
  }
}

.city__animate {
  height: 40px;
  overflow: hidden;
  margin-left: 9px;
  width: 150px;
  display: inline-block;
  position: relative;
  color: #FFF;
  margin-right: 5px;
  border-radius: 25px;
  @media screen and (max-width: 992px) {
    height: 32px;
    margin-left: 9px;
    width: 113px;
  }
  @media screen and (max-width: 768px) {
    height: 28px;
    margin-left: 9px;
    width: 110px;
  }
  @media screen and (max-width: 567px) {
    height: 28px;
    margin-left: 9px;
    width: 106px;
  }
  @media screen and (max-width: 480px) {
    height: 26px;
    margin-left: 9px;
    width: 104px;
  }
  @media screen and (max-width: 350px) {
    height: 25px;
    margin-left: 5px;
    width: 100px;
  }
}

.city__animate > div {
  box-sizing: border-box;
  height: 50px;
  margin-bottom: 50px;
  padding: 0px 10px;
  text-align: center;
  color: #FFF;
  font-size: 24px;
  line-height: 1.8;
  @media screen and (max-width: 992px) {
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 567px) {
    font-size: 15px;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
  @media screen and (max-width: 320px) {
    font-size: 14px;
  }
}

.city1 {
  animation: slide 5s linear infinite;
  background-color: #4ce1b6;
}

.city2 {
  background-color: #4ce1b6;
}

.city3 {
  background-color: #4ce1b6;
}

@keyframes slide {
  0% { margin-top: -300px; }
  5% { margin-top: -200px; }
  33% { margin-top: -200px; }
  38% { margin-top: -100px; }
  66% { margin-top: -100px; }
  72% { margin-top: -0; }
  100% { margin-top: 0; }
}

.landing .landing__header-title {
  max-width: 680px;
  line-height: normal;
  margin: auto;
  color: $landing-accent-color;
  margin-bottom: 18px;
  @media screen and (min-width: 250px) {
    font-size: 16px;
  }
  @media screen and (min-width: 300px) {
    font-size: 18px;
  }
  @media screen and (min-width: 350px) {
    font-size: 20px;
  }
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 576px) {
    font-size: 25px;
  }

  @media screen and (min-width: 768px) {
    font-size: 21px;
  }

  @media screen and (min-width: 992px) {
    font-size: 30px;
  }
}
