.van-card {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #dedede;
  border: 1px solid #dedede;
  margin: 12px auto;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;

  .van-card__btn-toolbar {
    margin-bottom: 10px;
  }
  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  }
}

.van-card__info {
  width: calc(100% - 440px);
  padding-left: 42px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    padding-left: 0;
    padding-top: 35px;
  }
}

.van-card__wish-btn {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  color: $color-blue;
  height: 42px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  svg {
    height: 14px;
    fill: $color-blue;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-blue-hover;

    svg {
      fill: $color-blue-hover;
    }
  }
}

.van-card__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.van-card__rate {
  display: flex;
  margin-bottom: 30px;

  svg {
    fill: $color-yellow;
    height: 14px;
    width: 14px;
  }
}

.van-card__link {
  font-size: 12px;
  color: $color-blue;
  line-height: 16px;
  display: block;
  margin-left: 5px;

  &:hover {
    color: $color-blue-hover;
    text-decoration: none;
  }
}

.van-card__price {
  margin-bottom: 25px;
}

.van-card__old-price {
  font-size: 24px;
  color: $color-additional;
  text-decoration: line-through;
}

.van-card__form {
  margin-top: 20px;
}

.van-card__form-label {
  font-weight: 500;
}

.vanlist {
  width:100%;
}
.van__content {
  background: #f2f2f2;
  padding: 5px;
}
.van__card {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}
@media screen and (max-width: 768px) {
  .van__card {
    padding: 15px;
  }
}
.media {
  background: #fff;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 7px #dfdfdf;
  border-radius: 5px;
}

.media img{
  width:200px;
  margin:0;
  height:136px;
}
.media-body {
  border-left:0;
  height: 150px;
  padding: 20px !important;
}
.media .price {
  font-size: 24px;
  line-height: 32px;
  float:left;
  width:100%;
  font-weight:600;
  color:#646777;
}
.media .price small {
  display:block;
  font-size:17px;
  color:#646777;
}
.media .stats {
  float:left;
  width:100%;
  margin-top:10px;
}
.media .stats span {
  float:left;
  margin-right:10px;
  font-size:15px;
  color: #646777;
}
.media .stats span i {
  margin-right:7px;
  color:#4765AB;
}
.media .address {
  float:left;
  width:100%;
  font-size:14px;
  margin-top:5px;
  color:#888;
}
.media .fav-box {
  position:absolute;
  right:10px;
  font-size:20px;
  top:4px;
  color:#E74C3C;
}

.pricing__content {
  background: #ffffff;
  text-align: center;
  right: 0;
}

.price__icon {
  color: #FF1654;
  font-size: 48px;
  margin: -4px 0px 0px -25px;
  position: absolute;
}
.pricing__content span.price-large{
  color: #FF1654;
  font-size: 45px
}
.hr-small{
  font-size: 24px;
  color: #FF1654;
}

.resource__name {
  margin-right: 10px;
  font-size: 20px;
  color: #646777;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    .resource__name {
      padding: 15px;
    }
  }

}
.resource__location {
  margin-right: 10px;
  font-size: 14px;
  color: #70bbfd;
  margin-top: 2px;
}
.resource__icon {
  padding: 2px 8px;
  color: #646777;
  font-size: 14px;
}

.resources__icon_list {
  padding: 5px;
}
.edit-btn {
  color: #70bbfd;
  outline: none;
  cursor: pointer;
  float: right;
  font-size: 14px;
  padding: 15px;
  float: left;
  font-weight: 600;
}

.editbtn__wrapper {
  width: 100%;
  background: #FFF;
}
.search__wrapper {
  margin-top: 25px;
}
img .feature__icon {
  width: 20px;
  height: 20px;
}

.van__loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.book__van {
  padding: 10px 0px;
  width: 150px;
}

.resource__feature {
  display: flex;
}
.description {
  padding-top: 10px;
}
.resource__star_icon {
  top: 0px;
  position: absolute;
  margin-top: 13px;
}
.resource_favourite {
  top: 0px;
  margin-top: -9px;
}

.resource__page__checkbox {
  margin-top: 22px;
}

.search-btn {
  width: 100px;
  left: 51px;
  top: -12px;
}

.resource__searchbar {
  height: 63px;
}

.list__item {
  list-style: none;
}
.resource__true_feature_label {
  padding: 2px 8px;
  color: #646777;
  font-size: 14px;
}

.resource__true_feature_icon {
  left: 16px;
  position: absolute;
}
