/* 6.3 Footer ======================================================= */
.site-footer {
  font-size: .9em;
}
.site-footer h4 {
  margin-bottom: 15px;
}
.site-footer {
  max-height: 100%;
}
.mini-logo {
  min-width: 15%;
  width: 65px;
}
.site-footer .btn-download {
  min-width: 150px;
}

.footer-link {
  display: flex;
  padding-left: 0px !important;
  margin-top: 20px;
  font-size: 14px;
  left: 0px;
  margin-left: -17px;

  .footer-item {
    list-style: none;
  }
  a {
    font-size: 14px;
    color: #247BA0;
    transition: all 0.3s;
    &:hover {
      font-weight: bold;
    }
  }
  .small {
    color: #646777;
    font-size: 12px;
  }
}

.footer-link-small {
  display: flex;
  padding-left: 0px !important;
  margin-top: 20px;
  font-size: 12px;
  left: 0px;
  margin-left: -17px;

  .footer-item {
    list-style: none;
  }
  a {
    font-size: 12px;
    color: #247BA0;
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover {
      font-weight: bold;
    }
  }
  .small {
    color: #646777;
    font-size: 12px;
  }
}
.footer__link_header {
  color: #646777;
  font-size: 16px;
  font-weight: bold;
}
.header_item {
  color: #999999 !important;
  font-size: 13px;
  line-height: 1.54;
  margin: 0;
  padding: 10px 0px;
}

.header_item__label {
  color: #999999 !important;
  font-size: 13px;
  margin: 0;
}

.input_subscribe {
  height: 33px;
}
.contact_info {
  padding-left: 10px;
}
.subscribe {
  padding: 5px 0px;
  width: 150px;
}

.input_subscribe {
  height: 33px !important;
  border: 1px solid #f2f2f2;
}

.btn-icon {
  padding: 4px 9px !important;
  font-size: 14px;
  background-color: #4ce1b6 !important;
  border-color: #4ce1b6 !important;
}
.btn-circle {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1rem;
}

.social_media_icon {
  fill: #FFF !important;;
  margin: 1px auto;
  fill: #FFF !important;
  margin: 1px auto;
  height: 14px;
  width: 14px;
  margin: 0px 0px 0 0;
  transition: all 0.3s;

}
