.startdatepicker__col {
  padding: 0;
}

.form__form-group.form-pickuptime {
  width: 95%;
  float: right;
  @media screen and (max-width: 990px) {
    width: 100%;
  }
}

p.booking__duration {
  padding: 0px;
  margin-top: -8px;
  font-weight: bold;
  margin: 10px auto;
}

.search__error {
  padding: 0px;
  color: red;
  font-weight: bold;
  margin: 8px auto;
}

.search__van_btn {
  font-weight: bold;
  text-transform: uppercase;
}
